#our-impact-page {
    .hero-panel-sub.parallax-window {
        @include for-phone-only {
            /* background-position: right 10px !important; */
        }
    }
    .title-box {
        background: $orange;
    }
    .rotate {
        z-index: 2;
    }
    h3 {
        color: $orange;
        &.active {
            border-bottom-color: $orange;
        }
    }
    .section-one {
        margin-bottom: 4rem;
        @include for-768-up {
            margin-bottom: 5.6rem;
        }
        @include for-1440-up {
            margin-bottom: 8rem;
        }
        p#tv-intro {
            margin: 4rem 0;
        @include for-768-up {
            margin: 0 auto 5.6rem;
        }
        @include for-1440-up {
            margin: 0 auto 7.2rem;
        }
        }
        #voices {
            background-color: $lightblue;
            .testimonial-wrapper {
                display: flex;
                align-items: center;
                height: 250px;
                @include for-768-up {
                    height: 194px;
                }
                @include for-1440-up {
                    height: 254px;
                }
            }
        }
    }
    .section-two {
        .content-well {
            padding: 0;
        }
        .side-header p {
            text-transform: uppercase;
            font-weight: 600;
            letter-spacing: 0.15rem;
        }
    }
    .section-four {
        &.pad96 {
            @include for-phone-only {
                padding-top: 0;
                padding-bottom: 3.2rem;
            }
        }
        .content-well {
            ul:nth-of-type(1n) {
                flex-direction: column;
                @include for-768-up {
                    flex-direction: row;
                }
            }
            ul:nth-of-type(2n) {
                flex-direction: column;
                @include for-768-up {
                    flex-direction: row-reverse;
                }
                li.blog-excerpt {
                    margin-left: 0;
                    @include for-768-up {
                        margin-right: 3.2rem;
                    }
                    @include for-1440-up {
                        margin-right: 4.8rem;
                    }
                }
            }
            li.bloglist-image {
                @include for-phone-only {
                    margin-bottom: 3.2rem;
                }
                img {
                max-width: 100%;
                }
            }   
            li.blog-excerpt {
                @include for-phone-only {
                    h3.morebutton {
                        margin: 3.2rem auto;
                    }
                }
            }
        }
    }
    .orange-box-wrapper {
        background-color: $orange;
    }
    .carousel-control-prev, .carousel-control-next {
        /*background-image: url('/images/icons/advance-grey.svg'); */
        svg {
            @include for-phone-only {
                width: 24px;
                height: 24px;
            }
            width: 17px;
            height: 17px;
        }
        &:hover {
           /* background-image: url('/images/icons/advance-blue.svg'); */
            transition: background-image .3s;
            background-size: 17px 17px;
            
            svg path {
                fill: $brightblue;
                transition: fill .3s ease;
            }
            span {
                width: 17px;
                height: 17px;
                }
        }
    }
    span.carousel-control-prev-icon {
        transform: rotate(180deg);
    }

    .carousel-control-prev svg {
        transform: rotate(180deg);
    }

    .carousel-nav {
        display: flex;
        justify-content: center;
    }
    .carousel-control-next, .carousel-control-prev {
        position: relative;
        display: flex;
        text-align: center;
        opacity: 1;
        width: 10%;
        span {
        width: 17px;
        height: 17px;
        }
    }
    h5.num {
        @include for-phone-only {
            width: 96px;
            font-size: 1.4rem;
        }
        display: flex;
        align-items: center;
        justify-content: center;
        width: 40px;
        color: $slateblue;
        @include for-1440-up {
            width: 64px;
        }
    }
}
