<!doctype html>
<html lang="{{ $.Site.Language.Lang }}">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, viewport-fit=cover">
    <!--<base href="{{ if getenv "CONTEXT" }}{{ cond (eq "production" (getenv "CONTEXT")) (getenv "URL") (getenv "DEPLOY_PRIME_URL") }}{{ else }}{{ $.Site.BaseURL }}{{ end }}">-->
    {{ $.Scratch.Set "description" "We're a nonprofit organization that works to close the educational opportunity gap through teacher-led professional learning." }}
    {{ if .Params.socialDescription }}
			{{ $.Scratch.Set "socialDescription" .Params.socialDescription }}
    {{ end }}
    {{ if .Params.image }}
      {{ $.Scratch.Set "socialImage" .Params.image }}
    {{ end }}
    {{ if .Params.socialDefaultImg }}
      {{ $.Scratch.Set "socialDefaultImage" .Params.socialDefaultImg }}
    {{ end }}

<!-- General metadata -->
<meta name="description" content="{{ $.Scratch.Get "description" }}" />
<meta name='author' content='Teaching Lab' />
<!-- Facebook metadata -->
<meta property="og:locale" content="en_US" />
<meta property="og:type" content="website" />
<meta property="og:title" content="{{ .Title }}" />
{{ if .Params.socialDescription }}
  <meta property="og:description" content="{{ $.Scratch.Get "socialDescription" }}" />
  {{ else }}
  <meta property="og:description" content="{{ $.Scratch.Get "description" }}" />
{{ end }}
<meta property="og:url" content="{{ .Permalink }}" />
<meta property="og:site_name" content="Teaching Lab" />
{{ if .Params.image }}
  <meta property="og:image" content="https://teachinglab.org{{ $.Scratch.Get "socialImage" }}" />
  <meta property="og:image:secure_url" content="https://teachinglab.org/{{ $.Scratch.Get "socialImage" }}" />
  {{ else if .Params.socialDefaultImg }}
  <meta property="og:image" content="https://teachinglab.org{{ $.Scratch.Get "socialDefaultImg" }}" />
  <meta property="og:image:secure_url" content="https://teachinglab.org/{{ $.Scratch.Get "socialDefaultImage" }}" />
  {{ else }}
  <meta property="og:image" content="https://teachinglab.org/images/social/socialcard1.jpg" />
  <meta property="og:image:secure_url" content="https://teachinglab.org/images/social/socialcard1.jpg" />
{{ end }}
  <!-- Twitter metadata -->
<meta name="twitter:card" content="summary_large_image" />
<meta name="twitter:site" content="@TeachingLabHQ" />
<meta name="twitter:title" content="{{ .Title }}" />
{{ if .Params.socialDescription }}
  <meta name="twitter:description" content="{{ $.Scratch.Get "socialDescription" }}" />
  {{ else }}
  <meta name="twitter:description" content="{{ $.Scratch.Get "description" }}" />
{{ end }}
{{ if .Params.image }}
  <meta name="twitter:image" content="https://teachinglab.org{{ $.Scratch.Get "socialImage" }}" />
  {{ else if .Params.socialDefaultImg }}
  <meta name="twitter:image" content="https://teachinglab.org{{ $.Scratch.Get "socialDefaultImage" }}" />
  {{ else }}
  <meta name="twitter:image" content="https://teachinglab.org/images/social/socialcard1.jpg" />
{{ end }}

    <title>{{ $.Site.Title }}</title>
    <link rel="icon" type="image/png" href="/images/icons/favicon.png">
    <link rel="stylesheet" href="/css/imports/reset.css"/>
    <link rel="stylesheet" href="/css/imports/bootstrap.min.css"/>
    <link rel="stylesheet" href="/css/imports/aos.css" />
    {{ if .Site.IsServer }}
      <!-- If site is being served (ostensibly dev) don't compress and minify -->
      {{ $options := (dict "targetPath" "style.css" "outputStyle" "expanded" "enableSourceMap" true ) }}
      {{ $style := resources.Get "scss/tl.scss" | resources.ToCSS $options  }}
      <link rel="stylesheet" href="{{ ($style).RelPermalink }}">
    {{ else }}
      <!-- If site is production, compress and minify -->
      {{ $options := (dict "targetPath" "style.css" "outputStyle" "compressed" "enableSourceMap" true ) }}
      {{ $css := resources.Get "scss/tl.scss" | resources.ToCSS $options  }}
      {{ $style := $css | resources.PostCSS }}
      <link rel="stylesheet" href="{{ ($style | minify | fingerprint).RelPermalink }}">
    {{ end }}

    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick-theme.css"/>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:300,400,400i,500,500i,600,700" rel="stylesheet">
    <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
  </head>
  <body>

    {{ block "header" . }}{{ partial "header" . }}{{end}}

    {{ block "main" . }}{{end}}

    {{ block "footer" . }}{{ partial "footer" . }}{{end}}

    <!-- <script src="/app.js"></script> -->
    <script src="/js/aos.js"></script>
    <script>
      AOS.init();
    </script>
  </body>
</html>
