{{ define "main" }}

<div id="our-impact-page" class="pageWrap">
        <div class="hero-panel-sub parallax-window" data-position="center" data-parallax="scroll" data-speed="0.7" data-image-src="{{ "images/teachers-talking.jpg" | absURL }}"></div>
        <div class="page-title">
            <div class="title-box inner-wrapper">
                <div class="title-container">
                    {{ with .Site.Data.impact.pagename }}
                        <h2>{{ .pageTitle }}</h2>
                    {{ end }}
                </div>
            </div>
        </div>
        <!--- Page Body ---------------------------------->
        <div class="section-one">
            <div class="content-well target" id="intro">
                {{ with .Site.Data.impact.sectionone }}
                <div class="rotate">
                    <h3 class="bold-blue uppercase" id="intro">{{ .sectionHead }}</h3>
                </div>
                {{ end }}
            </div>
            <div class="content-well">
                <div class="content-inner">
                    {{ with .Site.Data.impact.sectionone }}
                        <div id="tv-intro" class="margb80">{{ .introText | markdownify }}</div>
                    {{ end }}
                </div>
            </div>
            <div id="voices" class="content-well padw80">
                <div class="content-inner">
                    {{ partial "tvcarousel" . }}
                </div>
            </div>
        </div>
        <div class="section-two">
            <div class="content-well margb80">
                {{ with .Site.Data.impact.sectiontwo }}
                <div id="impact-intro" class="content-inner margb80"><p>{{ .intro | markdownify }}</p></div>
                <div class="post-navigation">
                        <div class="side-header"><p>{{ .header }}</p></div>
                        <div class="orange-box-wrapper our-impact pad80">
                            <div class="orange-box">
                                <ul>
                                    <li class="uppercase"><h1 class="hero">{{ .quantityOne }}</h1><h4>{{ .textOne }}</h4></li>
                                    <li class="uppercase"><h1 class="hero">{{ .quantityTwo }}</h1><h4>{{ .textTwo }}</h4></li>
                                    <li class="uppercase"><h1 class="hero">{{ .quantityThree }}</h1><h4>{{ .textThree }}</h4></li>
                                </ul>
                            </div>
                        </div>
                    {{ end }}
                </div>
            </div>
        </div>
        <!--<div class="section-three pad96" id="case-studies">
            <div class="content-well target" id="blurb">
                    {{ with .Site.Data.impact.sectionthree }}
                    <div class="rotate">
                            <h3 class="bold-blue uppercase" id="blurb">{{ .sectionHead }}</h3>
                        </div>
                </div>
            <div class="content-well">
                <div class="content-inner">
                    <p>{{ .blurb }}</p>
                {{ end }}
                </div>
            </div>
        </div>
        <div class="section-four pad96">
            <div class="content-well">
                {{ range first 20 (where .Site.RegularPages "Params.contenttype" ("cases")) }}
                    <ul class="blogfeed">
                        <li class="bloglist-image">
                            <a href="{{ .RelPermalink }}">{{ partial "bloglistimg" . }}</a>
                        </li>
                        <li class="blog-excerpt">
                            <h3 class="bloglisttitle"><a href="{{ .RelPermalink }}">{{ .Title}}</a></h3>
                            <p>{{ .Params.listSummary }}</p>
                            <h3 class="morebutton"><a class="read-more" href="{{ .RelPermalink }}">Read more</a></h3>
                        </li>
                    </ul>
                {{ end }}
            </div>
        </div>-->





    {{ partial "newsletter" . }}

{{ end }}
